
.container_pass{
  margin-top: 10px;
  text-align: center;
  margin-bottom: -18px;
}
.container_pass input{
  padding: 10px;
  font-size: 15px;
  margin-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid white;
}

.container_pass input:hover{
  cursor: pointer;
  background-color:rgb(3, 78, 189);
}

.container_oneProject{
  overflow: hidden;
}

.container_oneProject h1{
  margin-top: 10px;
}
.container_oneProject p{
  margin-left: 2%;
}

.container_oneProject button{
  margin-left: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border:1px solid rgb(255, 255, 255);
  transition: 1s ease-in-out;
}
.container_oneProject button:hover{
  cursor: pointer;
  background-color: rgb(3, 78, 189);
  border-radius: 10px;
}
.container_oneProject a{
  text-decoration: none;
  color: white;
}
