.container_pass{
  margin-top: 10px;
  text-align: center;
  margin-bottom: -18px;
}
.container_pass input{
  padding: 10px;
  font-size: 15px;
  margin-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid white;
  width: 120px;
}

.container_pass input:hover{
  cursor: pointer;
  background-color:rgb(3, 78, 189);
}


/*Colocar block no responsive mobile*/
.container_oneProject{
  overflow: hidden;
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  transition: .3s;
  z-index: 2;
  }
  .container_oneProject img{
    width: 650px;
    height: 400px;
    border-radius: 30px;
    border: 1px solid white;
    margin-top: 5px;
    display: flex;
  }

  .container_oneProject p{
    padding: 10px;
  }

  .container_oneProject section{
    background-color: rgb(0, 0, 0);
    padding: 3px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid white;
    width: 30%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
  }

.container_oneProject{
  overflow: hidden;
}

.container_oneProject h1{
  margin-top: 10px;
}
.container_oneProject p{
  margin-left: 2%;
}

.container_oneProject button{
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border:1px solid rgb(255, 255, 255);
  transition: 1s ease-in-out;
  width: 90px;
}
.container_oneProject button:hover{
  cursor: pointer;
  background-color: rgb(3, 78, 189);
  border-radius: 10px;
}
.container_oneProject a{
  text-decoration: none;
  color: white;
}
