body{
  background-color: #000000;
}

.container_projetos .butao{
  margin: 2% 0 10% 0;
  text-align: center;
}

.container_projetos input{
  margin: 0;
}

.container_projetos{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-rows: auto;
  color: white;
  text-align: center;
}

.grid-item{
	margin: 5px;
	background: rgb(0, 0, 0);
	text-align: center;
	font-size: 1.5em;
  padding-bottom: 5px;
  border: 1px solid white;
}

.grid-item p{
 text-transform: uppercase;
 font-size: 18px;
}
