/*MOBILE*/
@media only screen and (max-width: 899px) {
  /*Pagina Principal*/

  section{
    display: block;
    justify-content: center;
  }
  .container_detalhes{
    margin-left: 0%;
  }

  .detalhes, .sobre{
    width: 330px;
    margin-left: 0;
  }
  .container_projetos{
    grid-template-columns: repeat(1, 1fr);
  }
  /*ProjecOne*/
.container_oneProject{
  display: block;
  overflow: hidden;
  width: 95vw;
  height: 95vh;
  background: linear-gradient(90deg, rgb(0, 102, 255), rgb(15, 15, 15));
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  padding: 35px 0 0 10px;
}
.container_oneProject img{
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.container_oneProject section{
  text-align: center;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid white;
  width: 90%;
  margin-top: 30px;
  margin-left: 0%;
}
.container_oneProject{
  text-align: center;
  transition: .3s;
}

.container_s header{
  width: 80%;
  text-align: center;
  margin: 10% 0 0 10%;
  background-color: rgba(0, 0, 0, 0.534);
}

.container_s{
  color: white;
  display: block;
}
.icones {
  margin-left: 5%;
  margin-top: 10%;
 }
}


@media only screen and (max-height: 750px) {
  /*Pagina Principal*/
  .container_projetos{
    grid-template-columns: repeat(1, 1fr);
  }
  .titulo{
    background-color: rgb(2, 2, 2);
     display: inline-block;
    color: white;
    margin-top: 1%;
    padding: 10px;
    margin-left: 10px;
    font-size: 30px;
    width: 350px;
    border-radius: 10px;
  }

  section{
    display: block;
    justify-content: center;
  }

  .container_detalhes{
    margin-left: 0%;
  }

  .detalhes, .sobre{
    width: 320px;
    margin-top: 1%;
   margin-left: 0;
  }

  .butao{
    margin-top: 0%;
    margin-left: 10%;
    padding: 25px;
    display: flex;
  }

  .butao input{
    margin: 5px;
  }

  .container_oneProject{
    display: block;
    overflow: hidden;
    width: 95vw;
    height: 95vh;
    background: linear-gradient(90deg, rgb(0, 102, 255), rgb(15, 15, 15));
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
  }
  .container_oneProject img{
    width: 100%;
    height: 100%;
    margin: 5px;
  }
  .container_oneProject{
    text-align: center;
    transition: .3s;
  }
  .container_s header{
    width: 100%;
  }
  
  .container_s header{
    width: 80%;
    text-align: center;
    margin: 10% 0 0 10%;
    background-color: rgba(0, 0, 0, 0.534);
  }

  .icones {
    margin-left: 5%;
    margin-top: 10%;
   }
   
}

/*PC*/
@media only screen and (min-width: 901px) {
  /*Pagina Principal*/
  section{
    display: flex;
  }

  .container_projetos{
    grid-template-columns: repeat(3, 1fr);
  }
/*Colocar block no responsive mobile*/
.container_oneProject{
  overflow: hidden;
  width: 95vw;
  height: 95vh;
  background: linear-gradient(90deg, rgb(0, 102, 255), rgb(15, 15, 15));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  transition: .3s;

  }
  .container_oneProject img{
    width: 650px;
    height: 400px;
    border-radius: 30px;
    border: 1px solid white;
    margin-top: 5px;
  }

  .container_oneProject section{
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid white;
    width: 30%;
  }

  .container_s{
    color: white;
    display: flex;
  }

  .container_s header{
    width: 30%;
    text-align: center;
    margin: 10% 0 0 10%;
    background-color: rgba(0, 0, 0, 0.534);
  }

  .icones {
    margin-left: 15%;
    margin-top: 10%;
   }
}
