/*MOBILE*/
@media only screen and (max-height: 900px) {
  /*Pagina Principal*/

  section{
    display: block;
    justify-content: center;
  }

  .container_detalhes{
    margin-left: 0%;
  }

  .detalhes, .sobre{
    width: 330px;
    margin-left: 0;
  }
  .container_projetos{
    grid-template-columns: repeat(1, 1fr);
  }
}


@media only screen and (max-height: 750px) {
  /*Pagina Principal*/
  .container_projetos{
    grid-template-columns: repeat(1, 1fr);
  }

  .titulo{
    background-color: rgb(2, 2, 2);
     display: inline-block;
    color: white;
    margin-top: 1%;
    padding: 10px;
    margin-left: 10px;
    font-size: 30px;
    width: 350px;
    border-radius: 10px;
  }

  section{
    display: block;
    justify-content: center;
  }

  .container_detalhes{
    margin-left: 0%;
  }

  .detalhes, .sobre{
    width: 320px;
    margin-top: 1%;
   margin-left: 0;
  }

  .butao{
    margin-top: 0%;
    margin-left: 10%;
    padding: 25px;
    display: flex;
  }

  .butao input{
    margin: 5px;
  }
}

/*PC*/
@media only screen and (min-width: 901px) {
  /*Pagina Principal*/
  section{
    display: flex;
  }
<<<<<<< HEAD
  .container_projetos{
    grid-template-columns: repeat(3, 1fr);
  }
=======

>>>>>>> 5195f3e246534ec7b4fe93f6faadc6f0bc557743
}
